{% extends 'base.html.twig' %}

{% block title %}New Food{% endblock %}

{% block body %}
    <h1>Create new Food</h1>

    <h3>{{ include('food/form.html.twig') }}</h3>

    <h3><a href="{{ path('food_index') }}">back to list</a></h3>
{% endblock %}
