{% extends 'base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
    <h1>Edit Customer</h1>

    <h3>{{ include('customer/form.html.twig', {'button_label': 'Update'}) }}</h3>

    <h3><a href="{{ path('customer_index') }}">Back to list</a></h3>

    <h3>{{ include('customer/delete_form.html.twig') }}</h3>
{% endblock %}
