{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <h1>Create new Customer</h1>

   <h3> {{ include('customer/form.html.twig') }}</h3>

    <h3><a href="{{ path('customer_index') }}">Back to list</a></h3>
{% endblock %}
