<!DOCTYPE html>
<html>
{% block topmenu %}
	<header>
		<a href="{{ path('customer_index') }}">Customer</a>
		<a href="{{ path('chef_index') }}">Chef</a>
		<a href="{{ path('food_index') }}">Food</a>
	</header>
{% endblock %}
</html>

