<!DOCTYPE html>
<html>
{% block topmenu %}
	<header>
	<ul>
		<li><a href="{{ path('customer_index') }}">Customer</a></li>
		<li><a href="{{ path('chef_index') }}">Chef</a></li>
		<li><a href="{{ path('food_index') }}">Food</a></li>
		<li><a href="{{ path('bill_index') }}">Bill</a></li>
	</ul>
	</header>
{% endblock %}
</html>

