{% extends 'base.html.twig' %}

{% block title %}Edit Chef{% endblock %}

{% block body %}
    <h1>Edit Chef</h1>

   <h3>{{ include('chef/form.html.twig', {'button_label': 'Update'}) }}</h3>

    <h3><a href="{{ path('chef_index') }}">back to list</a></h3>

    <h3>{{ include('chef/delete_form.html.twig') }}</h3>
{% endblock %}
